 /*左边侧栏个人信息 */
  .aside {
      width: 200px;
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: skyblue;
  }
 .aside .profile {
     width: 200px;
     height: 150px;
     background-color: hotpink;
 }
 .aside .img img  {
     width: 80px;
     height: 80px;
     margin: 20px 50px 5px ;
 }
 /*主体头部区域*/
 .main {
     position: absolute;
     left: 200px;
     right: 0;
     top: 0;
     min-height: 800px;
 }
 .main >.header {
     background-color: lightblue;
 }
 .content .breadcrumb {
     background-color: lightblue;
 }